.task-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;

  .title {
    min-width: 250px;
    text-align: left;
    background-color: #999;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .task-group {
    flex-direction: column;
    overflow: hidden!important;
    .content {
      flex-direction: column;
    }
  }
}